{% extends "base.html" %}
{% block title %}Create Post{% endblock %}
{% block content %}
<div class="container my-5">
    <form action="create/save" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="postTitle">Post Title:</label>
            <input type="text" class="form-control" name="postTitle">
        </div>
        <div class="form-group">
            <label for="postTitle">Post for any certain Module:</label>
            <select class="custom-select" name="module">
                <option value="" selected>Select Module</option>
                {% for module in modules %}
                    <option value="{{module.id}}">{{module.moduleName}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="postContent">Content:</label>
            <textarea class="form-control" name="postContent" rows="5"></textarea>
        </div>
        <div class="form-group">
            <input type="file" class="form-control-file my-2" id="file" name="postFile" multiple>
        </div>

        <input type="submit" name="submit" class="btn btn-primary">
    </form>
</div>
{% endblock %}