{% extends "base.html" %}
{% block title %}{{ post.postTitle }}{% endblock %}
{% block content %}
    <div class="container my-5">
        <div class="card">
            <div class="card-header py-1 d-flex justify-content-between align-items-center">
                <div>
                    <h3 class="card-title">{{ post.postTitle }}</h3>
                    <h6 class="card-subtitle text-muted">posted by <a href="/profile/{{ post.author.id }}" class="card-link">{{ post.author }}</a> on {{ post.createdDate|date:"M, j " }}</h6>
                </div>
                {% if user.userrole.role == 'admin' or user == post.author %}
                <div>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="postOption" data-toggle="dropdown"></button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/posts/delete/{{ post.id }}">Delete Post</a>
                            <a class="dropdown-item" href="/posts/update/{{ post.id }}">Edit Post</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="card-body">
                <p>{{ post.postContent }}</p>
                {% if files %}
                    <div class="btn-group" role="group">
                        {% for file in files %}
                            <a href="{{ file.file.url }}" class="btn btn-primary mt-2" download>{{ file.originalFileName }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="card-footer">
                <a class="class-link" data-toggle="collapse" href="#collapseComment1">Write a Comment</a>
            </div>
            <div class="collapse card-footer" id="collapseComment1">
                <form action="comment/{{ post.id }}" method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" name="commentContent" placeholder="Write a Comment...">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        {% if comments %}
            <div class="card my-3">
                <div class="card-header">
                    <h5 class="card-title">Comments:</h5>
                </div>
                <div class="card-body py-0">
                    {% for comment in comments %}
                        <div>{{comment.commenter}}: {{comment.commentContent}}</div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

    </div>
{% endblock %}