{% extends "base.html" %}
{% block title %}Posts{% endblock %}
{% block content %}
    <div class="container my-5">
        <div class="card p-3">
            <h3 class="card-title mb-0">All Posts</h3>
            {% if user.userrole.role in staff_roles %}
            <div class="card-body p-0">
                <a href="/posts/create" class="card-link">Click here to create post</a>
            </div>
            {% endif %}
        </div>

        <div class="card my-4">
            <form action="search" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="q">
                    <div class="input-group-append">
                        <input type="submit" class="btn btn-primary">
                    </div>
                </div>
            </form>
        </div>

        {% for post in posts %}
        <div class="card mt-4">
            <div class="card-header py-1 d-flex justify-content-between align-items-center">
                <div>
                    <h3 class="card-title"><a href="{{ post.id }}">{{ post.postTitle }}</a></h3>
                    <h6 class="card-subtitle text-muted">posted by <a href="/profile/{{ post.author.id }}" class="card-link">{{ post.author }}</a> on {{post.createdDate|date:"M, j"}} {% if post.module.moduleName %}in {{post.module.moduleName}}{% endif %}</h6>
                </div>
                {% if user.userrole.role == 'admin' or user == post.author %}
                <div>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="postOption"
                            data-toggle="dropdown"></button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/posts/delete/{{ post.id }}">Delete Post</a>
                            <a class="dropdown-item" href="/posts/update/{{ post.id }}">Edit Post</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="card-body py-3">
                <div class="card-text">
                    {{ post.postContent|truncatewords:50 }} <br>
                    
                    {% if files %}
                        <div class="btn-group" role="group">
                            {% for file in files %}
                                {% if file.post_id == post.id %}
                                    <a href="{{ file.file.url }}" class="btn btn-primary mt-4" download>{{ file.originalFileName }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="card-footer">
                <a class="class-link" data-toggle="collapse" href="#collapseComment1">Write a Comment</a>
            </div>
            <div class="collapse card-footer" id="collapseComment1">
                <form action="comment/{{ post.id }}" method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" name="commentContent" placeholder="Write a Comment...">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% empty %}
            There are no posts
        {% endfor %}
    </div>
{% endblock %}