{% extends "base.html" %}
{% block content %}
<div class="container my-5">
    <form action="{% block actionValue %}{% endblock %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="postTitle">Post Title:</label>
            <input type="text" class="form-control" name="postTitle" value="{{ post.postTitle }}">
        </div>
        <div class="form-group">
            <label for="postContent">Content:</label>
            <textarea class="form-control" name="postContent" rows="5">{{ post.postContent }}</textarea>
        </div>
        <div class="form-group">
            <input type="file" class="form-control-file my-2" id="file" name="postFile">
        </div>

        <!-- <script>
            var files = document.getElementById('file');
            files.addEventListener('input', check);

            function check(e) {
                for (var i = 1; i < files.length; i++) {
                    files.addEventListener('input',check);
                }
                console.log("working");
            }
        </script> -->
        
        <input type="submit" name="submit" class="btn btn-primary">
    </form>
</div>
{% endblock %}