{% extends "base.html" %}
{% block title %}{{ assignment.assignmentTitle }}{% endblock %}
{% block content %}
    <div class="container my-5">
        <div class="card mt-4">
            <div class="card-header py-1 d-flex justify-content-between align-items-center">
                <div>
                    <h3 class="card-title"><a href="{{ assignment.id }}">{{ assignment.assignmentTitle }}</a></h3>
                    <h6 class="card-subtitle text-muted">posted by <a href="#" class="card-link">{{ assignment.author }}</a> on
                        {{assignment.createdDate|date:"M, j"}}</h6>
                </div>
                <div>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="assignmentOption" data-toggle="dropdown"></button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/assignments/delete/{{ assignment.id }}">Delete</a>
                            <a class="dropdown-item" href="/assignments/update/{{ assignment.id }}">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body py-3">
                <div class="card-text">
                    {{ assignment.content|truncatewords:50 }} <br>
                    
                    {% if assignment.assignmentQuestionPapers %}
                    <a href="{{ assignment.assignmentQuestionPapers.url }}" class="btn btn-primary mt-3" download>{{ assignment.assignmentQuestionPapers }}</a>
                    {% endif %}
                </div>
            </div>
        
            <div class="card-footer">
                <a class="class-link" data-toggle="collapse" href="#collapseComment1">Write a Comment</a>
            </div>
            <div class="collapse card-footer" id="collapseComment1">
                <form action="comment/{{ assignment.id }}" method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" name="commentContent" placeholder="Write a Comment...">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card my-4">
            {% for file in files %}
                <div class="card-body">
                    File submitted!! <a href="deletefile/{{ file.id }}">Click here to unsubmit</a>
                </div>
            {% empty %}
            <div class="card-header">
                <h4 class="card-title">Upload Your Work:</h4>
            </div>
            <div class="card-body">
                <form action="uploadfile/{{ assignment.id }}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="file" class="form-control-file my-2" name="studentsFile">
                        <input type="submit" class="btn btn-primary">
                    </div>
                </form>
            </div>
            {% endfor %}
        </div>
        
        {% if comments %}
        <div class="card my-3">
            <div class="card-header">
                <h5 class="card-title">Comments:</h5>
            </div>
            <div class="card-body py-0">
                {% for comment in comments %}
                <div>{{comment.commenter}}: {{comment.commentContent}}</div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>
{% endblock %}