{% extends "base.html" %}
{% load module_tags %}
{% block title %}Modules{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="card">
        <h3 class="card-title p-3">Modules</h3>
    </div>

    {% if user.userrole.role == 'admin' %}
    <form action="" method="POST" class="my-4">
        {% csrf_token %}
        <h6>Add Module:</h6>
        <div class="form-inline">
            <label for="moduleCode"></label>
            <input type="text" class="form-control mr-2" placeholder="Module Code" name="moduleCode" required>

            <label for="moduleName"></label>
            <input type="text" class="form-control mr-2" placeholder="Module Name" name="moduleName" required>

            <input type="submit" class="btn btn-primary">
        </div>
    </form>
    {% endif %}

    {% if modules %}
        <table class="table table-striped my-4">
            <thead>
                <tr>
                    <th>Module Code</th>
                    <th>Module Name</th>
                    {% if user.userrole.role == 'student' %}
                        <th>Enroll</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for module in modules %}
                    <tr>
                        <th>{{ module.moduleCode }}</th>
                        <th>
                            {% if module in enrolledModules or user.userrole.role in staff_roles %}
                                <a href="{{module.id}}">{{ module.moduleName }}</a>
                            {% else %}
                                {{ module.moduleName }}
                            {% endif %}
                        </th>
                        {% if user.userrole.role == 'student' %}
                            <th>{% isEnrolled module enrolledModules %}</th>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        There are no Modules
    {% endif %}
</div>
{% endblock %}