{% extends "base.html" %}
{% block title %}Posts{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="card">
        <h3 class="card-title p-3">Modules</h3>
    </div>

    <table class="table table-striped my-4">
        <thead>
            <tr>
                <th>Id</th>
                <th>Module Code</th>
                <th>Module Name</th>
                <th>Module Teacher</th>
            </tr>
        </thead>
        <tbody>
            {% for module in modules %}
                <tr>
                    <th>{{ module.id}}</th>
                    <th>{{ module.moduleCode}}</th>
                    <th>{{ module.moduleName}}</th>
                    <th>{{ module.moduleTeacher}}</th>
                </tr>
            {% empty %}
                There are no Modules
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}